/* #workbenchPageContent {
  margin: 0;
  max-width: none;
} */

.TableMain {
  width: 1000px !important;
  margin-left: -150px !important;
}

/* .a_e_50a7110f.m_e_50a7110f.CanvasSection.CanvasSection-col.CanvasSection-sm12.CanvasSection--read.CanvasSection-xl4.q_e_50a7110f {
  margin-left: 100px;
} */

/* .a_b_50a7110f.g_b_50a7110f.CanvasSection.CanvasSection-col.CanvasSection-sm12.CanvasSection--read.CanvasSection-xl4 {
  margin-left: 100px !important;
} */

/* .a_c_50a7110f.r_c_50a7110f.CanvasSection.CanvasSection-col.CanvasSection-sm12.CanvasSection--read.CanvasSection-xl4 {
  margin-left: 100px !important;
} */

.a_f_50a7110f.u_f_50a7110f.CanvasSection.CanvasSection-col.CanvasSection-sm12.CanvasSection--read.CanvasSection-xl4 {
  margin-left: 100px !important;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedStart.MuiInputBase-adornedEnd.css-v4u5dn-MuiInputBase-root-MuiInput-root {
  border: 1px solid gray !important;
  width: 175px !important;
}

.css-1rjje3x-MuiDataGrid-root {
  font-size: 12px !important;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  font-size: 12px !important;
}

.css-ptiqhd-MuiSvgIcon-root {
  width: 15px !important;
  height: 15px !important;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root {
  font-size: 12px !important;
}

/* .MainDivCont {
  width: 1000px !important;
} */

.css-levciy-MuiTablePagination-displayedRows {
  font-size: 12px !important;
}

.css-i4bv87-MuiSvgIcon-root {
  font-size: 20px !important;
}

.css-ahj2mt-MuiTypography-root {
  font-size: 14px !important;
}

/* ################################## */

.css-1sq32yu {
  font-size: 12px !important;
}

.css-1chpzqh {
  font-size: 12px !important;
}

.css-vubbuv {
  width: 20px !important;
  height: 20px !important;
}

.css-1rtnrqa {
  font-size: 12px !important;
}

.css-1k33q06 {
  width: 20px !important;
  height: 20px !important;
}

input#mui-111 {
  font-size: 16px !important;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedStart.MuiInputBase-adornedEnd.css-zrqpq1 {
  border: 1px solid #707070 !important;
  border-radius: 5px !important;
}

.css-9l3uo3 {
  font-size: 14px !important;
}

.MuiDataGrid-overlayWrapperInner.css-0 {
  width: 0px !important;
}

/* .g_b_50a7110f.f_b_50a7110f {
  gap: 90px !important;
  display: flex !important;
} */

/* .q_e_50a7110f.p_e_50a7110f {
  gap: 90px !important;
  display: flex !important;
} */

.WebpartsParentDiv {
  display: flex !important;
  gap: 93px !important;
}
